body {
    background-color: black;
}
a{
    color: #ffc300;
    text-decoration: none;
}
div#splash {
    position: fixed;
    top:0;
    left:0;
    width:100%;
    height:100vh;
    background-color: #a50304;
    font-size:20px;
    z-index: 9999;
    padding:20px;
    cursor: pointer;
  }

div.credits {
    background-color: black;
    color: #003566;
    font-size: 50px;
    padding-bottom: 10px;
    text-shadow: 0px 0px 3px #003566;
}

div.marquee {
    margin-bottom: 30px;
}

div.creditstext {
font-family: "cofo-sans-pixel", sans-serif;
font-weight: 400;
font-style: normal;
text-transform: uppercase;
}

div.largetext {
    font-size: 210px;
    font-family: "futura 100", sans-serif;
    font-weight: 400;
    flex-wrap: wrap;
    margin-left: 60px;
    text-shadow: -14px 0.5px 2px #a50304;
    color: #a50304;
    line-height: 1.5;
    letter-spacing: -9;
}

div.mediumlargetext {
    font-size: 230px;
    color: #faf5fa;
    font-family: "nautica", sans-serif;
    margin-left: 50%;
    text-shadow: 0px 0px 4px #fff;
    line-height: 0.6;
    margin-bottom: 150px;
}

div.mediummediumtext {
    font-size: 100px;
    font-family: "nautica", sans-serif;
    text-align: center;
    text-shadow: 0px 0px 3px #fff;
    color: #faf5fa;
    margin-top: 300px;
    margin-bottom: 150px;
}

div.submediumtext {
    font-family: "jetsam-collection-kugelkopf", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 120px;
    letter-spacing: -4;
      text-shadow: 0px 0px 3px red;
    text-align: right;
    color: #a50304;
    margin-right: 100;
    margin-bottom: -55px;
    position: relative;
    z-index: 10;
}

div.largesubheadingtext {
    font-size: 80px;
    font-family: "futura 100", sans-serif;
    font-weight: 400;
    color: #a50304;
    line-height: 0.9;
    letter-spacing: -0.4;
}

div.mediumsubheadingtext {
    font-size: 80px;
    color: #faf5fa;
    font-family: "nautica", sans-serif;
    text-shadow: 0px 0px 3px #fff;
    line-height: 10px;
    margin-bottom: 50px;
}

div.introbodytext {
    font-size: 14px;
    font-family: "novel-mono-pro", sans-serif;
    line-height: 1.2;
    color: #faf5fa;
    margin-left: 15%;
    margin-right: 15%;
    position: relative;
    text-align: center;
    z-index: 1;
}

div.bodytextsubtitle {
    font-size: 16px;
    font-family: "novel-mono-pro", sans-serif;
    line-height: 1.2;
    color: #faf5fa;
    margin-left: 150px;
}

div.contentsbodytext {
    font-size: 18px;
    font-family: "jetsam-collection-kugelkopf", sans-serif;
    line-height: 1.2;
    color: #ffc300;
    position: sticky;
    top: 60%;
}

div.colophontext {
    font-size: 25px;
    font-family: "jetsam-collection-kugelkopf", sans-serif;
    color: #faf5fa;
    text-align: center;
}

div.colophonbody {
    font-size: 14px;
    font-family: "novel-mono-pro", sans-serif;
    line-height: 1.2;
    color: #faf5fa;
    text-align: justify;
}

div.featurebodytext {
    font-size: 15px;
    font-family: "pacaembu", sans-serif;
    color: #ffc300;
}

div.featurequote {
    font-size: 15px;
    font-family: "novel-mono-pro", sans-serif;
    color: #faf5fa;
    text-shadow: 0px 0px 1px #faf5fa;
    position: 10;
    margin-top: -160px;
    text-align: center;
}

div.highlight {
background-color: white;
width: auto;
position: 11;
border-radius: 0px;
}

div.bodytext {
    font-size: 16px;
    font-family: "novel-mono-pro", sans-serif;
    line-height: 1.2;
    color: #faf5fa;
    text-align: justify;
}

div.openingtext {
    font-size: 16px;
    text-align: center;
    margin-top: 50vh;
    font-family: "novel-mono-pro", sans-serif;
    line-height: 1.2;
    color: rgb(0, 0, 0);
}

div.box {
    width: 100%;
    font-size: ;
    border-radius: ;
    margin-left: auto;
    margin-right: auto;
    height: 400;
    margin-top: 80px;
    background-color:#
}

div.box {
    background-color: black;
    width: 1000px;
    margin-left:auto;
    margin-right: auto;
    border-radius: 25px;
    margin-bottom: 300px;
}

div.uppercase {
    text-transform: uppercase;
}

div.italics {
    font-style: italic;
}

div.capitals {
    text-transform: uppercase;
    font-weight: 550;
    font-style: italic;
}

div.tiktoks img {
width: 58%;
height: auto;
float: right;
margin-right: ;
margin-left: 30px;
margin-top: 45px;
}

div.vastfields img {
width: 100%;
height: auto;
margin-bottom: -350px;
margin-top: -100px;
}

div.chatgbt img {
    width: 100%;
    height: auto;
    margin-bottom: -280px;
    margin-top: 30px;
}

div.movement img {
    width: 49.5%;
    height: auto;
}

div.crops img {
    width: 100%;
    height: auto;
    margin-bottom: 15px;
}

div.frontier img {
    width: 100%;
    height: auto;
    margin-bottom: 100px;
    position: 100;
}

div.headlines img {
    width: 1430px;
    height: auto;
}

div.politics img {
    width: 70%;
    height: auto;
    margin-bottom: 10px;
    margin-left: 14.5%;
    margin-right: 14.5%;

}

div.right {
    text-align: right;
}

div.right40 {
    text-align: right;
    margin-right: 40px;
}

div.right100 {
    text-align: right;
    margin-right: 100px;
}

div.right300 {
    text-align: right;
    margin-right: 300px;
}

div.right50 {
    text-align: left;
    margin-right: 100px;
    margin-left: 60%;
}

div.left {
text-align: left;
}

div.left0 {
text-align: left;
margin-left: 50px;
}

div.left1 {
    text-align: left;
    margin-left: 100px;
}

div.left2 {
    text-align: left;
    margin-left: 150px;
}

div.left3 {
    text-align: left;
    margin-left: 200px;
}

div.left4 {
    text-align: left;
    margin-left: 400px;
    margin-right: 265px;
}

div.gap6 {
    margin-bottom: 900px;
}

div.gap5 {
    margin-bottom: 200px;
}

div.gap7 {
    margin-bottom: 500px;
}


div.gap4 {
    margin-bottom: 400px;
}

div.gap3 {
    margin-bottom: 350px;
}

div.gap2 {
    margin-bottom: 200px;
}

div.gap05 {
    margin-bottom: 70px;
}

div.gap02 {
    margin-bottom: 20px;
}

div.gapup {
    margin-top: -200;
}

div.gapup2 {
    margin-top: -45;
}

audio.player {
    width: 500px;
}

div.figure1 {
    text-align: right;
    margin-right: 50px;
    margin-top: -10px;
}

div.figure2 {
    text-align:right;
    margin-top: 303px;
}

div.figure3 {
    text-align:left;
    margin-left: 735px;
    margin-top: 303px;
}

div.move1 {
    margin-top: -113px;
}

div.move2 {
    margin-top: -215px;
}

div.move3 {
    margin-top: -215px;
}

div.contentmove1 {
    margin-top: 15px;
    margin-left: 42%;
}

div.contentmove2 {
    margin-top: -20px;
    margin-bottom: 30px;
text-align: right;
margin-right: 1%;
}

div.contentmove3 {
    margin-top: -10px;
text-align: left;
margin-left: 46%;
}

div.contentmove4 {
    text-align: left;
    margin-left: 65%;
    margin-right:1%;
    margin-top: 20px;
}

div.contentmove5 {
    text-align: left;
    margin-left: 6%;
    margin-right: 60%;
}

div.contentmove6 {
    text-align: right;
    margin-right: 4%;
}

div.contentmove7 {
    text-align: right;
    margin-right: 1%;
}

div.contentmove8 {
    text-align: right;
    margin-right: %;   
    margin-top:-72px;
}

div.contentmove9 {
    text-align: left;
    margin-left: 10%;
    margin-right: 40%;
    margin-top: 500px;
}

div.contentmove10 {
    text-align: left;
    margin-left: 10%;
    margin-right: 40%;
    margin-top: 50px;
    margin-bottom: -200px;
}

div.contentmove11 {
    text-align: center;
    margin-left: 12%;
    margin-right: 12%;
    margin-top: 320px;
}

div.contentmove12 {
    text-align: center;
    margin-left: 12%;
    margin-right: 12%;
    margin-top: 35px;
}

div.contentmove13 {
    text-align: center;
    margin-left: 4%;
    margin-right: 4%;
    margin-top: 20px;
    margin-bottom: 230px;
}

div.contentmove14 {
    margin-top: -180px;
}

div.contentmove15 {
    margin-top: -70px;
    text-align: right;
    margin-right: 1%;
}

div.contentmove16 {
    text-align: right;
    margin-right: 64%;
}

div.contentmove17 {
    text-align: right;
    margin-right: 5px;
    margin-top: -13px;
}

div.contentmove18 {
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 10px;
}

div.contentmove19 {
    text-align: right;
    margin-bottom: -18px;
    margin-right: 45.5%;
}

div.contentmove20 {
    text-align: right;
    margin-right: 15.5%;
margin-top: -352px;
}

div.contentmove21 {
    margin-top: -150px;
    margin-left: 10%;
}

div.contentmove22 {
text-align: left;
margin-top: 60px;
margin-right: 65%;
}

div.contentmove23 {
text-align: left;
margin-top: -213px;
margin-left: 50%;
margin-right: 15%;
}

div.contentmove24 {
text-align: left;
margin-left: 14.5%;
margin-right: 39%;
margin-top: -295px;
}

div.contentmove25 {
text-align: left;
margin-left: 14.5%;
}

div.contentmove26 {
text-align: right;
margin-right: 14.5%;
margin-top: 305px;
}

div.contentmove30 {
text-align: right;
margin-right: 2%;
margin-top: -400px;
margin-bottom: 190px;
}

div.space {
    margin-top: 600px;
}

div.contentmove27 {
    margin-top: -180px;
    text-align: left;
    margin-left: 1%;
}

div.contentmove28 {
    margin-top: 50px;
}

div.contentmove29 {
    margin-top: 405px;
}